rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /download_history/{doc} {
      allow read: if true;
      allow create: if request.resource.data.title is string;
      allow update: if false;
      allow delete: if request.auth != null && resource.data.user_id == request.auth.uid;
    }
    match /stats/{doc} {
      allow read: if true;
      allow update: if doc == 'general'
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['total_downloads'])
        && request.resource.data.total_downloads == resource.data.total_downloads + 1;
      allow create: if doc == 'general'
        && request.resource.data.keys().hasOnly(['total_downloads'])
        && request.resource.data.total_downloads == 1;
      allow delete: if false;
    }
  }
}